.topo{
    padding: 100px;
}

.projetos{
    background-color: black;
}




.thumbnail{
	padding-top: 60px;
}

.caption{
	padding-top: 50px;
}

#fotocontato{
    padding: 100px;
}



#menu{
    padding: 10px;
}

